* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

._line-t {
  border-top: 1px solid rgba(180, 180, 180, 0.2); }

.nav {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 20px rgba(230, 230, 230, 0.3);
  box-shadow: 0px 2px 20px rgba(230, 230, 230, 0.3); }
  .nav .nav__menu {
    padding: 20px 0; }
  .nav .nav__menu-item {
    color: #707070;
    margin: 0 10px;
    font-size: 12px;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s; }
    .nav .nav__menu-item:hover {
      text-decoration: underline;
      font-size: 14px;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s; }

.header-sub {
  text-align: center;
  background-color: rgba(252, 223, 223, 0.5);
  padding-top: 62px; }
  .header-sub .header-sub__title {
    padding: 100px 0;
    font-style: italic;
    color: #F7A3A3;
    font-size: 3rem;
    text-transform: uppercase; }

.footer {
  width: 100%;
  background-color: rgba(222, 222, 222, 0.3);
  font-size: 12px;
  font-weight: 200; }
  .footer .footer__content {
    padding: 25px 0;
    margin-top: 30px; }

.content .content__section {
  padding: 20px 0;
  font-weight: 100; }
  .content .content__section h2 {
    margin: 50px 0 40px;
    font-size: 36px;
    font-weight: 100;
    color: rgba(112, 112, 112, 0.6); }
  .content .content__section p {
    color: #707070;
    line-height: 23px; }
  .content .content__section em {
    display: block;
    font-style: normal;
    color: #F7A3A3;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 10px 0; }
  .content .content__section ol {
    margin: 0 0 30px 50px; }
    .content .content__section ol li {
      color: #707070;
      margin: 10px 0; }

.content ._mb {
  margin-bottom: 50px; }

.content ._v-middle {
  vertical-align: middle; }

.content ._t-center {
  text-align: center; }

.header {
  width: 100%;
  color: #707070;
  height: 100vh;
  position: relative; }
  .header .headerBg-block {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
  .header .headerBg {
    height: 130%;
    width: 100%;
    z-index: -1;
    background-color: rgba(252, 223, 223, 0.5); }
  .header .header__content {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .header .header__logo {
    width: 150px;
    height: 150px;
    margin: 5% 0; }
  .header .header__title {
    display: block;
    font-weight: 400; }
  .header .header__menu {
    font-size: 12px;
    margin: 20px; }
    .header .header__menu a {
      margin: 0 10px;
      color: #707070;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s; }
      .header .header__menu a:hover {
        text-decoration: underline;
        font-size: 14px;
        -webkit-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s; }

.work {
  width: 100%; }
  .work .work__list {
    margin: 100px 0; }
  .work .work__item {
    padding: 10px;
    position: relative; }
  .work .work__item-cover {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .work .work__item-cover:hover {
      background-color: rgba(163, 163, 163, 0.493); }
  .work .work__item-content {
    padding: 40% 0;
    text-align: center; }
    .work .work__item-content--i {
      background-image: url(../img/illustrate/project3.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .work .work__item-content--R {
      background-image: url(../img/agentR/icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%; }

.about {
  width: 100%;
  padding: 85px 0; }
  .about .about__img {
    width: 150px;
    height: 150px; }
  .about .about__text h3 {
    color: #F7A3A3; }
  .about .about__text p {
    color: #FCDFDF;
    font-size: 12px; }

.agentR strong {
  display: block;
  font-weight: 400;
  color: #707070;
  margin: 20px 0 10px 0; }

.agentR span {
  text-decoration: underline;
  display: inline-block;
  margin-left: 5px; }

.agentR ._item-list p {
  margin: 5px 0 10px 0; }

.agentR ._img-character {
  max-width: 175px;
  height: 200px; }

.agentR ._img-sprite {
  max-width: 505px;
  margin-top: 30px; }

.agentR ._img-draft {
  height: 375px; }

.agentR .agentR__sprite {
  margin-top: 100px; }

.agentR .agentR__video {
  margin-top: 30px; }

.illustrate ._i-img {
  max-width: 610px;
  max-height: 600px; }

.illustrate ._i-img2 {
  max-width: 50%;
  height: 70%;
  margin: 50px 0; }

.illustrate ._i-img3 {
  display: inline-block;
  max-width: 500px;
  max-height: 730px;
  margin: 0 10px; }

.illustrate ._i-p {
  line-height: 26px; }

.company a :hover {
  text-decoration: underline; }
