@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Noto Sans TC", "PingFang TC", "微軟正黑體", Arial, sans-serif; }

ul li {
  list-style-type: none;
  color: #707070; }

a {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  color: #F7A3A3;
  font-weight: 600;
  font-size: 18px; }

canvas {
  display: block; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

._line-t {
  border-top: 1px solid rgba(180, 180, 180, 0.2); }

.img__100 {
  max-width: 100%; }

.img__80 {
  max-width: 80%; }

.img_last {
  margin-bottom: 50px; }

.videoLink {
  display: none; }

._mb50 {
  margin-bottom: 50px; }

._mb20 {
  margin-bottom: 20px; }

._link {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #F7A3A3;
  color: #F7A3A3;
  font-size: 14px;
  margin-top: 15px;
  padding: 15px 20px;
  border-radius: 20px; }
  ._link:hover {
    color: #ffffff;
    background-color: #F7A3A3; }

._text-center {
  text-align: center; }

@media screen and (max-width: 991px) {
  ._mbphone-30 {
    margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  iframe {
    display: none; }
  .videoLink {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #F7A3A3;
    color: #F7A3A3;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 20px; } }

.nav {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 20px rgba(230, 230, 230, 0.3);
  box-shadow: 0px 2px 20px rgba(230, 230, 230, 0.3); }
  .nav .nav__menu {
    padding: 20px 0; }
  .nav .nav__menu-item {
    color: #707070;
    margin: 0 10px;
    font-size: 12px;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
    position: relative; }
    .nav .nav__menu-item::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -5px;
      background: #303030;
      width: 0%;
      height: .1px; }
    .nav .nav__menu-item:hover {
      font-weight: bold;
      color: #303030;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s; }
      .nav .nav__menu-item:hover::before {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -5px;
        background: #303030;
        width: 100%;
        height: .1px; }

.header-sub {
  text-align: center;
  background-color: rgba(252, 223, 223, 0.5);
  padding-top: 62px; }
  .header-sub .container {
    padding: 80px 0; }
  .header-sub .header-sub__title {
    font-style: italic;
    color: #F7A3A3;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 30px; }
  .header-sub a {
    color: #ffffff;
    font-size: 15px;
    background-color: #F7A3A3;
    padding: 10px 15px;
    border-radius: 50px; }
    .header-sub a:hover {
      color: #F7A3A3;
      background-color: #ffffff;
      border: 1px solid #F7A3A3; }

.footer {
  width: 100%;
  background-color: rgba(222, 222, 222, 0.3);
  font-size: 12px;
  font-weight: 200; }
  .footer .footer__content {
    padding: 25px 0;
    margin-top: 30px; }
  .footer strong {
    color: #4c4c4c; }
  .footer p {
    color: #9a9a9a; }

.footer__home {
  padding: 30px 0;
  text-align: center;
  margin-top: 20px; }

.footer__copy {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #9a9a9a; }

.content .content__section {
  padding: 20px 0;
  font-weight: 100; }
  .content .content__section h2 {
    margin: 50px 0 40px;
    font-size: 36px;
    font-weight: 300;
    color: rgba(112, 112, 112, 0.6); }
  .content .content__section p {
    color: #707070;
    line-height: 30px;
    font-size: 17px;
    font-weight: 200; }
  .content .content__section em {
    display: block;
    font-style: normal;
    color: #F7A3A3;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0 10px 0; }
  .content .content__section ol {
    margin: 0 0 30px 15px; }
    .content .content__section ol li {
      color: #707070;
      margin: 10px 0; }

.content ._v-middle {
  vertical-align: middle; }

.content ._t-center {
  text-align: center; }

.header {
  width: 100%;
  color: #707070;
  height: 100vh;
  position: relative; }
  .header .headerBg-block {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
  .header .headerBg {
    height: 130%;
    width: 100%;
    z-index: -1;
    background-color: rgba(252, 223, 223, 0.5); }
  .header .header__content {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .header .header__logo {
    height: 230px;
    margin: 5% 0; }
  .header .header__title {
    display: block;
    font-weight: 400; }
  .header .header__menu {
    font-size: 12px;
    margin: 20px; }
    .header .header__menu a {
      margin: 0 10px;
      color: #707070;
      font-size: 15px;
      font-weight: 300;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s;
      border-bottom: 0px solid #303030;
      position: relative; }
      .header .header__menu a::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -5px;
        background: #303030;
        width: 0%;
        height: 1px; }
      .header .header__menu a:hover {
        font-weight: bold;
        color: #303030;
        -webkit-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s; }
        .header .header__menu a:hover::before {
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
          content: '';
          position: absolute;
          display: block;
          left: 0;
          bottom: -5px;
          background: #303030;
          width: 100%;
          height: 1px; }

@media screen and (max-width: 768px) {
  .header .header__logo {
    height: 140px; } }

.work {
  width: 100%; }
  .work .work__list {
    margin: 100px 0; }
  .work .work__item {
    padding: 18px;
    position: relative; }
  .work .work__item-cover {
    position: absolute;
    width: 91%;
    height: 89%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: transparent;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
    .work .work__item-cover:hover {
      background-color: #F7A3A3;
      color: #ffffff;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
  .work .work__item-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 45px; }
    .work .work__item-text--2 {
      height: 81px; }
    .work .work__item-text h3 {
      font-size: 30px; }
    .work .work__item-text p {
      font-size: 12px; }
  .work .work__item-content {
    padding: 40% 0;
    text-align: center; }
    .work .work__item-content--i {
      background-image: url(../img/illustrate/logo.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--R {
      background-image: url(../img/agentR/icon.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--h {
      background-image: url(../img/hands/hands.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .work .work__item-content--c5678 {
      background-image: url(../img/comeon/comeon5678.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .work .work__item-content--company {
      background-image: url(../img/company/company.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--a {
      background-image: url(../img/arithmetic/logo.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--life {
      background-image: url(../img/life/screen.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 42% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--box {
      background-image: url(../img/box/computer.JPG);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--pixel {
      background-image: url(../img/pixel/logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--bitch {
      background-image: url(../img/bitch/logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 65% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--tangerine {
      background-image: url(../img/tangerine/logo.JPG);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }
    .work .work__item-content--portrait {
      background-image: url(../img/portrait/1.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 40% 50%;
      -webkit-box-shadow: 10px 10px 12px #333333a8;
      box-shadow: 10px 10px 12px #333333a8; }

@media screen and (max-width: 1200px) {
  .work .work__item-text h3 {
    font-size: 22px; }
  .work .work__item-text p {
    font-size: 10px; }
  .work .work__item-text--2 {
    height: 63px; } }

@media screen and (max-width: 768px) {
  .work .work__item-text h3 {
    font-size: 30px; }
  .work .work__item-text p {
    font-size: 12px; }
  .work .work__item-text--2 {
    height: 81px; }
  .work .work__item-cover {
    width: 93%;
    height: 92%; } }

.about {
  width: 100%;
  padding: 85px 0; }
  .about .about__img {
    height: 240px; }
  .about .about__text {
    display: inline-block;
    width: 50%;
    margin-left: 60px;
    text-align: left; }
    .about .about__text h3 {
      color: #F7A3A3;
      margin: 15px 0; }
    .about .about__text p {
      color: #f5c5c5;
      font-size: 15px; }
  .about .about__content {
    text-align: center; }

@media screen and (max-width: 768px) {
  .about .about__text {
    width: 100%;
    margin-left: 0;
    text-align: center; } }

.agentR strong {
  display: block;
  font-weight: 400;
  color: #707070;
  margin: 20px 0 10px 0; }

.agentR span {
  text-decoration: underline;
  display: inline-block;
  margin-left: 5px; }

.agentR ._item-list p {
  margin: 5px 0 10px 0; }

.agentR ._img-character {
  max-width: 175px; }

.agentR .agentR__character div {
  text-align: center; }

.agentR ._img-sprite {
  max-width: 100%;
  margin-top: 30px; }

.agentR ._img-draft {
  height: 375px; }

.agentR .agentR__sprite {
  margin-top: 100px; }

.agentR .agentR__video {
  margin-top: 30px; }

.agentR ._img-overview {
  padding: 50px; }

@media screen and (max-width: 768px) {
  .agentR ._img-character {
    max-width: none;
    max-height: 100%; }
  .agentR .agentR__character {
    margin: 20px 0; }
  .agentR .agentR__characterGIF {
    margin-top: 30px; }
    .agentR .agentR__characterGIF > div {
      margin-top: 10px; }
  .agentR ._img-overview {
    padding: 0px; } }

.illustrate ._i-img {
  width: 100%;
  height: 100%;
  margin-top: 50px; }

.illustrate ._i-img3 {
  display: inline-block;
  max-width: 500px;
  max-height: 730px;
  margin: 30px 10px; }

.illustrate ._i-p {
  line-height: 26px; }

.company h2 {
  display: inline-block; }

.company em {
  margin: 5px 0 0 0 !important;
  font-size: 16px !important; }

.company p {
  margin-bottom: 15px; }

.company img {
  height: 190px;
  max-width: 360px;
  margin-top: 50px; }

.company .company__gif p {
  margin-top: 10px; }

.company .company__video {
  margin-top: 40px; }
  .company .company__video p {
    margin-top: 10px; }

.arithmetic img {
  height: 360px;
  margin-bottom: 100px; }
  .arithmetic img:last-child {
    margin-bottom: 20px; }

@media screen and (max-width: 991px) {
  .arithmetic img {
    max-width: 100%;
    height: auto; } }

.comeon em {
  margin-top: 20px !important; }

.comeon li p {
  margin: 15px 0 25px 0; }

.comeon img {
  max-width: 60%; }

.comeon ol p {
  margin: 15px 0 25px 0; }

@media screen and (max-width: 768px) {
  .comeon img {
    max-width: 100%; } }
