.content{
    .content__section{
        padding: 20px 0;
        font-weight: 100;
        h2{
            margin: 50px 0 40px;
            font-size: 36px;
            font-weight: 100;
            color: rgba($color: #707070, $alpha: 0.6);
        }
        p{
            color: #707070;
            // font-weight: 100;
            margin-bottom: 50px;
        }
        ol{
            margin: 0 0 30px 50px;
            li{
                color: #707070;
                margin: 5px 0;
            }
        }
        &--color{
            // background-color: rgba($color: #f7f7f7, $alpha: 0.2);
        }
    }
    ._i-img{
        max-width: 610px;
        max-height: 600px;
    }
    ._i-img2{
        max-width: 50%;
        height: 70%;
        margin: 50px 0;
    }
    ._i-img3{
        display: inline-block;
        max-width: 500px;
        max-height: 730px;
        margin: 0 10px;
    }
    ._i-p{
        line-height: 26px;
    }
}