.content{
    .content__section{
        padding: 20px 0;
        font-weight: 100;
        h2{
            margin: 50px 0 40px;
            font-size: 36px;
            font-weight: 100;
            color: rgba($color: #707070, $alpha: 0.6);
        }
        p{
            color: #707070;
            line-height: 23px;
            // margin-bottom: 50px;
        }
        em{
            display: block;
            font-style: normal;
            color: #F7A3A3;
            font-weight: 600;
            font-size: 18px;
            margin: 5px 0 10px 0;
        }
        ol{
            margin: 0 0 30px 15px;
            li{
                color: #707070;
                margin: 10px 0;
            }
        }
        &--color{
            // background-color: rgba($color: #f7f7f7, $alpha: 0.2);
        }
    }
    ._mb{
        margin-bottom: 50px;
    }
    ._v-middle{
        vertical-align: middle;
    }
    ._t-center{
        text-align: center;
    }
}