*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Noto Sans TC", "PingFang TC", "微軟正黑體", Arial, sans-serif;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
._line-t{
    border-top: 1px solid rgba($color: #b4b4b4, $alpha: 0.2);
}

