*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Noto Sans TC", "PingFang TC", "微軟正黑體", Arial, sans-serif;
}
ul li{
    list-style-type: none;
    color: #707070;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    color: #F7A3A3;
    font-weight: 600;
    font-size: 18px;
}
canvas {
    display: block;
  }
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
._line-t{
    border-top: 1px solid rgba($color: #b4b4b4, $alpha: 0.2);
}

.img__100{
    max-width: 100%;
}
.img__80{
    max-width: 80%;
}
.img_last{
    margin-bottom: 50px;
}

.videoLink{
    display: none;
}

._mb50{
    margin-bottom: 50px;
}
._mb20{
    margin-bottom: 20px;
}
._link{
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #F7A3A3;
    color: #F7A3A3;
    font-size: 14px;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    &:hover{
        color: #ffffff;
        background-color: #F7A3A3;
    }
}
._text-center{
    text-align: center;
}
@media screen and (max-width: 991px){
    ._mbphone-30{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px){
    iframe{
        display: none;
    }
    .videoLink{
        display: inline-block;
        background-color: #ffffff;
        border: 1px solid #F7A3A3;
        color: #F7A3A3;
        font-size: 14px;
        //margin-top: 15px;
        padding: 15px 20px;
        border-radius: 20px;
        // &:hover{
        //     color: #ffffff;
        //     background-color: #F7A3A3;
        // }
    }
    
}