.header-sub{
    text-align: center;
    background-color: rgba($color: #FCDFDF, $alpha: 0.5);
    padding-top: 62px;
    .header-sub__title{
        padding: 100px 0;
        font-style: italic;
        color: #F7A3A3;
        font-size: 3rem;
        text-transform: uppercase;
    }
}