.header-sub{
    text-align: center;
    background-color: rgba($color: #FCDFDF, $alpha: 0.5);
    .header-sub__title{
        padding: 100px 0;
        font-style: italic;
        // color: #707070;
    }
}