.about{
    width: 100%;
    padding: 85px 0;
    .about__img{
        width: 150px;
        height: 150px;
    }
    .about__text{
        h3{
            color:#F7A3A3;
        }
        p{
            color: #FCDFDF;
            font-size: 12px;
        }
    }
}