.about{
    width: 100%;
    padding: 85px 0;
    .about__img{
        height: 240px;
    }
    .about__text{
        display: inline-block;
        width: 50%;
        margin-left: 60px;
        text-align: left;
        h3{
            color:#F7A3A3;
            margin: 15px 0;
        }
        p{
            color: #f5c5c5;
            font-size: 15px;
        }
    }
    .about__content{
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .about{
        
        .about__text{
            width: 100%;
            margin-left: 0;
            text-align: center;
        }
    }
}