.arithmetic{
    img{
        height: 360px;
        margin-bottom: 100px;
        &:last-child{
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 991px){
    .arithmetic{
        img{
            max-width: 100%;
            height: auto;
        }
    }    
}