.company{
    // a{
    //     display: inline-block;
    //     color: #F7A3A3;
    // }
    h2{
        display: inline-block;
    }
    em{
        margin: 5px 0 0 0 !important;
        font-size: 16px !important;
    }
    p{
        margin-bottom: 15px;
    }
    img{
        height: 190px;
        max-width: 360px;
        margin-top: 50px;

    }
    .company__link{
        display: inline-block;
        background-color: #ffffff;
        border: 1px solid #F7A3A3;
        color: #F7A3A3;
        font-size: 14px;
        margin-top: 15px;
        padding: 15px 20px;
        border-radius: 20px;
        &:hover{
            color: #ffffff;
            background-color: #F7A3A3;
        }
    }
    .company__gif{
        p{
            margin-top: 10px;
        }
    }
    .company__video{
        margin-top: 40px;
        p{
            margin-top: 10px;
        }
    }
}
// @media screen and (max-width: 768px){
//     .company{
//         iframe{
//             display: none;
//         }
//     }
// }