.header{
    width: 100%;
    color: #707070;
    height: 100vh;
    position: relative;
    .headerBg-block{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }
    .headerBg{
        height: 130%;
        width: 100%;
        // position: absolute;
        z-index: -1;
        background-color: rgba($color: #FCDFDF, $alpha: 0.5);
    }
    .header__content{
        display: block;
        position: absolute;
        width: 50%;
        height: 50%;
        margin: auto;
        text-align: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .header__logo{
        // width: 150px;
        height: 230px;
        margin: 5% 0;
    }
    .header__title{
        display: block;
        font-weight: 400;
    }
    .header__menu{
        font-size: 12px;
        margin: 20px;
        a{
            margin: 0 10px;
            color: #707070;
            font-size: 15px;
            font-weight: 300;
            transition-duration: .4s;
            border-bottom: 0px solid #303030;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                display: block;
                left: 0;
                bottom: -5px;
                background: #303030;
                width: 0%;
                height: 1px;
            }
            &:hover{
                font-weight: bold; 
                color: #303030;
                
                transition-duration: .4s;
                &::before{
                    transition: 0.4s;
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: -5px;
                    background: #303030;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .header{
        .header__logo{
            height: 140px;
        }
    }
}