.illustrate{
    ._i-img{
        max-width: 610px;
        max-height: 600px;
    }
    ._i-img2{
        max-width: 50%;
        height: 70%;
        margin: 50px 0;
    }
    ._i-img3{
        display: inline-block;
        max-width: 500px;
        max-height: 730px;
        margin: 30px 10px;
    }
    ._i-p{
        line-height: 26px;
    }
}