.work{
    width: 100%;
    // .work__list{
    //     display: table;
    //     width: 100%;
    //     margin: 100px 0;
    // }
    // .work__list-row{
    //     display: table-row;
    // }
    // .work__item{
    //     background-color: #F8F8F8;
    //     height: 300px;
    //     border: 1px solid #707070;
    //     display: table-cell;
    //     display: inline-block;
    //     width: 30%;
    //     margin: 10px;
    // }

    .work__list{
        margin: 100px 0;
    }
    .work__item{
        padding: 10px;
        position: relative;
    }
    .work__item-cover{
        position: absolute;
        width: 95%;
        height: 95%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        &:hover{
            background-color: rgba(163, 163, 163, 0.493);
        }
    }
    .work__item-content{
        padding: 40% 0;
        // background-color: #F8F8F8;
        text-align: center;
        &--i{
            background-image: url(../img/illustrate/project3.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}